header{
    background-image: url(../img/pattern.png);
    height: 130px;
    background-color: rgb(93, 93, 232);
}

#testo-principale{
    font-size:60px;
}


#booleaner{
    width: 250px;
    padding:50px;

}

.credit{
    color: rgb(176, 169, 169);
}

.credit2{
    color: rgb(0, 116, 249);
}

#tim1{
    width: 750px;
}

#tim2{
    width: 640px;
}


.illustrazioni-foto{
    font-style: italic;
}

#table-riga1{
    color: white;
    background-color:rgb(0, 132, 255);
}

.tableazzurrachiara{
    background-color: rgb(0, 221, 255);
}
 
.prima-colonna{
    width: 400px;
}

.seconda-colonna{
   width:400px;
}

.terza-colonna{
  width:800px;
}

#potrebbe-interessarti{
    color: rgba(158, 152, 144, 0.842);
}