header{
    background-image: url(../img/pattern.png);
    height: 130px;
    background-color: rgb(93, 93, 232);
}

#testo-principale{
    font-size:60px;
    position:relative;
    bottom:30px;
}


#booleaner{
    width: 250px;
    position:relative;
    top:60px;

}

.credit{
    color: rgb(176, 169, 169);
    position:relative;
    bottom:70px;
}

.credit2{
    color: rgb(0, 116, 249);
    position:relative;
    bottom:70px;
}

#tim1{
    width: 750px;
    position:relative;
    bottom:30px;
}

#tim2{
    width: 640px;
    position:relative;
    bottom:30px;
}

.illustrazioni-foto{
    font-style: italic;
    position: relative;
    bottom: 30px;
}

#table-riga1{
    color: white;
    background-color:rgb(0, 132, 255);
}

.tableazzurrachiara{
    background-color: rgb(0, 221, 255);
}
 
.prima-colonna{
    width: 400px;
}

.seconda-colonna{
   width:400px;
}

.terza-colonna{
  width:800px;
}

#potrebbe-interessarti{
    color: rgba(158, 152, 144, 0.842);
    position: relative;
    top: 20px;
}

#final-image{
    background-image: url(../img/monitor.jpg);
    color: white;
    height:200px;
    width:300px;
    text-align:left;
    font-size:30px;
    position:relative;
    top:30px;
    font-style:bold;
}

#final-image2{
    background-image: url(../img/graph.jpg);
    color: white;
    height:200px;
    width:300px;
    text-align:left;
    font-size:30px;
    position:relative;
    top:50px;
    font-style:bold;
}

.evidenziatore{
    background-color: yellow;
}